/* 上架票券窗口 */
#modal,#modal-content {
padding: 0px;
margin: 0px;
}
/* 弹窗背景 */
#modal {
width: 100%;
height: 100%;
/* 默认隐藏 */
display: none;
/* 固定定位 */
position: fixed;
/* 设置在顶层 */
z-index: 1000;
/* 设置位置 */
left: 0;
top: 0;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}
/* 弹窗内容 */
#modal-content {
position: relative;
background-color: #fff;
margin: 10% auto;
border: 1px solid #888;
width: 500px;
height: 250px;
z-index: 1001;
}
/* 关闭按钮 */
#close {
position: absolute;
right: 20px;
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
/* 设置关闭按钮的鼠标指针 */
#close:hover,
#close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

/* 上传题目窗口 */
#modal2,#modal-content2 {
padding: 0px;
margin: 0px;
}
/* 弹窗背景 */
#modal2 {
width: 100%;
height: 100%;
/* 默认隐藏 */
display: none;
/* 固定定位 */
position: fixed;
/* 设置在顶层 */
z-index: 1000;
/* 设置位置 */
left: 0;
top: 0;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}
/* 弹窗内容 */
#modal-content2 {
position: relative;
background-color: #fff;
margin: 10% auto;
border: 1px solid #888;
width: 500px;
height: 350px;
z-index: 1001;
}
/* 关闭按钮 */
#close2 {
position: absolute;
right: 20px;
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
/* 设置关闭按钮的鼠标指针 */
#close2:hover,
#close2:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
